<% #ActiveView::Helpers::FormHelper#form_forで生成されるformタグの第2引数にclassを定義(水平方向に並べる) %>
<%= form_for(@message, html: {class: "form_horizontal"}) do |f| %>
	<% #バリデーションに定義した条件を満たさない場合、エラーメッセージを表示する %>
	<% if @message.errors.present? %>
		<div class="alert alert-danger">
			<%= alert %>
			<ul>
				<% @message.errors.full_messages.each do |full_message| %>
					<li>
						<%= full_message %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<% #入力フォームのレイアウト定義 %>
	<div class="form-group row">
		<label for="input-contribution-name" class="col-md-offset-3 col-md-1 control-label">名前</label>
		<div class="col-md-3">
			<%= f.text_field :name, class: "form-control", id: "input-contribution-name", placeholder: "投稿者の名前を入力してください。" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="input-contribution-contents" class="col-md-offset-3 col-md-1 control-label">内容</label>
		<div class="col-md-3">
			<%= f.text_area :body, class: "form-control", id: "input-contribution-contents" , placeholder: "投稿したいことを入力してください" %>
		</div>
	</div>
	<div class="form-group row">
		<label for="input-age" class="col-md-offset-3 col-md-1 control-label">年齢</label>
		<div class="col-md-3">
			<%= f.text_field :age, class: "form-control", id: "input-age", placeholder: "年齢を入力してください" %>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-offset-3 col-sm-9">
			<%= f.submit class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
