<% #既に投稿された情報を一覧表示する %>
<div class="panel panel-success">
	<div class="panel-heading" >メッセージ一覧</div>
	<div class="panel-body">
		<% #パネルの中に、既に登録済みのデータを出力 %>
		<% @messages.each do |message| %>
			<h4><span class="label label-info col-md-2 col-md-offset-1"><%= message.name %></span>
			<div class="col-md-5"><%= message.body %></div>
			<div class="col-md-2"><%= message.age %></div></h4>
			(
				<% #抽出されたメッセージの右側に編集ページのリンクを表示 %>
				<%= link_to "edit", edit_message_path(message) %>
				<% #pry-byebugでステップ実行 %>
				<% #binding.pry %>
				<% #抽出されたメッセージの右側に削除ページへのリンクを表示 %>
				<%= link_to "destroy", message, method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
			)
			<br>
		<% end %>
	</div>
</div>

<% #部分テンプレートの読込み(パーシャル) / /views/messages/_form.html.erbを呼出す %>
<%= render 'form' %>
